@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>E-handel övning</h1>
    <p class="lead">Med denna uppgift så tränar jag på MVC och sånt, bygga e-handel e fett ju. lol.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Tryck inte här &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Jag lägger in massa spel på denna sidan bara för att det är roligt och ja gillar att göra sånt.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">knapp &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Här kan man skriva</h2>
        <p>Denna texten är fett onödig..</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">knapp &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hosta</h2>
        <p>Hosta uppstår vid irritation eller klägg i halsen (detta kan iofs ses som irritation men det blir inge med de.).</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">knapp &raquo;</a></p>
    </div>
</div>